@import "tailwindcss";

:root {
    --txt: #1D1D1D;
    --bg: #FFFFFF;
    --prm: #C8010B;
    --acc: #F6F8FA;
    --acc2: #D1D9E0;
}

[data-theme="dark"] {
    --txt: #FFFFFF;
    --bg: #212830;
    --prm: #C8010B;
    --acc: #151B23;
    --acc2: #3D444D;
}

@theme inline {
    --color-text: var(--txt);
    --color-background: var(--bg);
    --color-primary: var(--prm);
    --color-accent: var(--acc);
    --color-accent-2: var(--acc2);
}

* {
    font-family: "Poppins", sans-serif;
}

body {
    color: var(--color-text);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
}

.scroll-bar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-bar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}