@import "tailwindcss";

:root {
    --txt: #1D1D1D;
    --bg: #FFFFFF;
    --prm: #C8010B;
    --acc: #F6F8FA;
}

[data-theme="dark"] {
    --txt: #FFFFFF;
    --bg: #1D1D1D;
    --prm: #C8010B;
    --acc: #F6F8FA;
}

@theme inline {
    --color-text: var(--txt);
    --color-background: var(--bg);
    --color-primary: var(--prm);
    --color-accent: var(--acc);
    --color-greyist: #D1D9E0;
}

* {
    font-family: "Poppins", sans-serif;
}